<h1>Time Sheet</h1>
<% if current_teacher.not_working? %>
   <div class='pull-right' display='inline'>
     <%= form_for [@teacher, @new_shift], url: clock_in_path(@teacher, @new_shift) do |f| %>
       <%= f.hidden_field :clock_in, :value => Time.now %>
       <div class="form-group">
        <%= f.submit "Clock In", class: 'btn btn-success' %>
       </div>
     <% end %>
  </div>
  <h3>You are not currently clocked in!</h3>
<% else %>
  <h3>Current Shift:</h3>
  <% @shifts.each do |cw| %>
  <% if cw.current == true %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= cw.teacher.name %>
          <div class="pull-right">
            <%= form_for [cw.teacher, cw], url: clock_out_path(cw.teacher, cw) do |f| %>
              <%= f.hidden_field :clock_out, :value => Time.now %>
              <%= f.hidden_field :current, :value => false %>
              <div class="form-group">
                <%= f.submit "Clock Out", data: { confirm: "Are you sure you're ready to clock out?" }, class: 'btn btn-danger' %>
              </div>
            <% end %>
          </div></br>
        <small>Clocked in at: <%= cw.clock_in %></small>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>

<h3>Past Shifts:</h3>
<% @shifts.each do |f| %>
  <% if f.current == false %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= f.teacher.name %>
        </h4>
        <small>
          Worked from <%= f.clock_in %> to <%= f.clock_out %> on <%= f.date %>
        </small>
        <p>Hours Worked: <%= shift_length(f.clock_in, f.clock_out) %></p>
      </div>
    </div>
  <% end %>
<% end %>
